<div class="game" hx-get="/bot" hx-trigger="update-cpu from:body delay:0.6s" hx-swap="outerHTML">
    {% include "board.html" %}
    <div class="game-info">
        {% include "game-info.html" %}
        <div
            hx-get="/play/-1/-1"
            hx-trigger="click"
            hx-target=".game"
            hx-swap="outerHTML"
            class = "bttn"
            >
            Pass Turn
        </div>
            <div
                hx-get="/play/-4/-4"
                hx-trigger="click"
                hx-target=".game"
                hx-swap="outerHTML"
                class = "bttn"
                >
                Give up
            </div>
    </div>
</div>
